<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="plantbox col-xs-10 col-xs-offset-1">
      <br />

      <div class="row">
        <div class="user_info col-sm-8 text-center">
          <h3> <u>My Plants</u> </h3>
          <br />
          <!-- <h4>User: <%= @user.email.split('@')[0] %></h4> -->
          <h4> <%= @user.email %></h4>
          <h5> Member since: <%= @user.created_at.strftime("%B %d, %Y") %> </h5>
        </div>
        <div class="pretty_pot_container col-sm-2">
          <%= image_tag 'flower-large.png', class: 'pretty_pot' %>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1">
        <hr>
      </div>

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <% if @user.plants.blank? %>
          <div class="no-plant-user-profile text-center">
            You don't have a plant yet.
            <br />
            <%= link_to 'List your Plant', new_plant_path, class: 'btn btn-default btn-sm' %>
          </div>
          <br />

          <% else %>

          <br />
          <% @user.plants.each do |plant| %>
          <div class="row">
            <div class="plant-name-user-profile col-xs-12">
              <%= link_to plant.name, plant_path(plant) %>
              <%= link_to edit_plant_path(plant), class: 'btn btn-default btn-sm pull-right' do %>
              Edit Details
              <% end %>
            </div>
          </div>

          <br/>

          <% if plant.photos.blank? %>
          <div class="row">
            <div class="text-center">
              Your plant has no photos.
            </div>
          </div>
          <br />
          <br />
          <% if @user.plants.count > 1 && plant != @user.plants.last %>
          <hr>
          <% end %>
          <% else %>

          <% plant.photos.each do |photo| %>
          <div class="col-xs-4">
            <%= link_to image_tag photo.picture, class: 'polaroid-image img-responsive' %>
            <br />
          </div>
          <% end %>


          <div class='clear'>
          </div>
          <br />
          <br />
          <% if @user.plants.count > 1 && plant != @user.plants.last %>
          <hr>
          <% end %>
          <% end %>

          <br />
          <br />

          <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>

</div>

<br />
<br />
