<div class="plantbox col-xs-8 col-xs-offset-2">
  <br />
  <h2> Plant Details </h2>
  <br />

  <%= simple_form_for @plant do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <p><%= f.input :city %></p>
  <%= f.input :state %>
  <%= f.submit 'Save', class: 'btn btn-success pull-right' %>
  <br />
  <% end %>
  <br />
  <br />
</div>
