<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to plant_path(@plant) do %>
      <i class="fa fa-angle-double-left"></i> Back
      <% end %>
    </div>
  </div>
</div>
<br />

<div class="container-fluid">
  <div class="row">
    <div class="plantbox col-xs-10 col-xs-offset-1">
      <br />
      <div class="text-center">
        <h2> Plant Details </h2>
      </div>
      <br />
      <%= simple_form_for @plant do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <p><%= f.input :city %></p>
      <%= f.input :state %>
      <%= f.button :button, "Save", class: 'btn btn-success btn btn-sm pull-right', data: {disable_with: "Save"} %>
      <br />
      <% end %>
      <br />
    </div>
  </div>
</div>

<br />

<div class="container-fluid">
  <div class="row">
    <div class="plantbox col-xs-10 col-xs-offset-1">

      <br />

      <div class="text-center">
        <h2> Gallery </h2>
      </div>
      <br />
      <%= simple_form_for @photo, url: plant_photos_path(@plant) do |f| %>
      <%= f.input :picture %>
      <%= f.submit "Upload", class: 'btn btn-success btn btn-sm' %>
      <% end %>

      <div class="col-xs-10 col-xs-offset-1">
        <hr>
      </div>

      <br />

      <% @plant.photos.each do |photo| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= image_tag photo.picture, class: 'img-responsive delete-photo-section' %>
        <%= link_to 'delete', plant_photo_path(@plant, photo), method: :delete, data: {confirm: "Are you sure?"}, class: "pull-right" %>
        <div class= "clearfix"></div>
<br/>
      </div>
      <% end %>

    </div>
  </div>
</div>

<hr>

<div class="container-fluid">
  <div class="row">
    <div class="plantbox col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
      <br />
      <div class="text-center">
        <h2> Danger Zone </h2>
      </div>
      <br />
      <div class="text-center">
        <%= link_to 'Delete Plant', plant_path(@plant), method: :delete, data: {confirm: "Are you sure you want to delete your plant?"}, class: 'btn btn-danger btn btn-sm' %>
      </div>
      <br />
    </div>
  </div>
</div>

<br />

<div class= "clearfix"></div>

<br />
<br />
