<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1">
      <i class="fa fa-angle-double-left" aria-hidden="true"></i>
      <%= link_to 'Back', url_for(:back) %>
    </div>
  </div>
</div>
<br />

<div class="container-fluid">
  <div class="row">
    <div class="plantbox col-xs-10 col-xs-offset-1 plantbox col-sm-5 col-sm-offset-1">
      <br />
      <div class="text-center">
        <h2> Plant Details </h2>
      </div>
      <br />
      <%= simple_form_for @plant do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <p><%= f.input :city %></p>
      <%= f.input :state %>
      <%= f.submit 'Save', class: 'btn btn-success btn btn-sm pull-right' %>
      <br />
      <% end %>
      <br />
    </div>

    <div class="plantbox col-xs-10 col-xs-offset-1 plantbox col-sm-4 col-sm-offset-1">
      <br />
      <div class="text-center">
        <h2> Images </h2>
      </div>
      <br />
      <%= simple_form_for @photo, url: plant_photos_path(@plant) do |f| %>
      <%= f.input :picture %>
      <%= f.submit "Upload", class: 'btn btn-success btn btn-sm pull-right' %>
      <br />
      <% end %>
      <br />
    </div>

  </div>
</div>

<br />
<br />

<div class="container-fluid">
  <div class="row text-right">
    <div class="col-xs-12">
      <%= link_to 'Show Plant', plant_path(@plant), class: 'btn btn-primary btn btn-sm' %>
      <%= link_to 'Delete Plant', plant_path(@plant), method: :delete, data: {confirm: "Are you sure you want to delete your plant?"}, class: 'btn btn-danger btn btn-sm' %>
    </div>
  </div>
</div>
