</br>
</br>

<div class="container-fluid">
  <div class="col-xs-12">
    <ul class="tiles-wrap animated" id="wookmark1">
      <% @plants.each do |plant| %>
      <% if plant.photos.first.present? %>
      <li>
        <%= link_to image_tag(plant.photos.first.picture, width: '368', height: 'auto'), plant_path(plant) %>
        <!-- <p>
        <%= plant.name %>
      </p>
      <%= plant.description %>
      <%= plant.city %>
      <%= plant.state %> -->
      <% else %>
      <li><%= image_tag 'flower-large.png', width: '350', height: 'auto' %></li>
    </li>
    <% end %>
    <% end %>
    <!-- <li><%= image_tag 'flower-large.png', width: '400', height: 'auto' %></li>
    <li><%= image_tag 'flower-large.png', width: '200', height: 'auto' %></li>
    <li><%= image_tag 'flower-large.png', width: '200', height: 'auto' %></li>
    <li><%= image_tag 'flower-large.png', width: '200', height: 'auto' %></li> -->
  </ul>
</div>
</div>

<script>
$( document ).ready(function() {
  $('#wookmark1').wookmark({
    itemWidth: 378,
    flexibleWidth: true
  });
});
</script>
