<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>




<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <% @plant.photos.each do |photo| %>
      <%= image_tag photo.picture, class: 'img-responsive' %>
      <%= photo.caption %>
      <% end %>
    </div>
  </div>
</div>
<br />
